<html>
    <head>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    </head>
    <body>
        <%- include('index.ejs')%>
        <div>
            <p id="addStatus"></p>
            <span>姓名:</span><input type="text" name="name" class="input" id="name"/><br>
            <span>学号:</span><input type="text" name="stuNo" class="input" id="stuNo"/><br>
            <span>民族:</span><input type="text" name="nation" class="input" id="nation"/><br>
            <span>班级:</span><select name="classNo" class="input" id="classNo"><option value="1">1</option><option value="2">2</option></select><br>
            <span>数学:</span><input type="number" name="math" class="input" id="math"/><br>
            <span>语文:</span><input type="number" name="chinese" class="input" id="chinese"/><br>
            <span>英语:</span><input type="number" name="english" class="input" id="english"/><br>
            <span>编程:</span><input type="number" name="program" class="input" id="program"/><br>
            <input type="button" value="添加" id="submitButton">
        </div>
    </body>
</html>

<script src="jquery-3.2.0.min.js"></script>
<script type="text/javascript">
    $("#submitButton").click(function() {
        var student = $('.input').map(el => {
            return $('.input')[el].value;
        })
        var [name, stuNo, nation, classNo, math, chinese, english, program] = student;
        $.ajax({
            url: '/addStudent',
            data: {name, stuNo, nation, classNo, math, chinese, english, program},
            method: 'POST',
            async: false,
            success: function (data) {
                $('.input').val('');
                $('#classNo').val('1');
                if(data.status === 1) $('#addStatus').text(data.msg);
                else $('#addStatus').text(data.msg);
            }
        });
    });
</script>

