<html>
    <head>
        <link href="bootstrap/css/bootstrap.css">
    </head>
    <body>
        <%- include('index.ejs')%>
        <div>
            <p id="addStatus"></p>
            <span>姓名:</span><input type="text" name="name"/><br>
            <span>学号:</span><input type="text" name="stuNo"/><br>
            <span>民族:</span><input type="text" name="nation"/><br>
            <span>班级:</span><select name="classNo"><option value="1">1</option><option value="2">2</option></select><br>
            <span>数学:</span><input type="text" name="math"/><br>
            <span>语文:</span><input type="text" name="chinese"/><br>
            <span>英语:</span><input type="text" name="english"/><br>
            <span>编程:</span><input type="text" name="program"/><br>
            <input type="button" value="添加" id="submitButton">
        </div>
    </body>
</html>

<script src="jquery-3.2.0.min.js"></script>
<script type="text/javascript">
    $("#submitButton").click(function() {
        var name = $('#name').val();
        var stuNo = $('#stuNo').val();
        var nation = $('#nation').val();
        var classNo = $('#classNo').val();
        var math = $('#math').val();
        var chinese = $('#chinese').val();
        var english = $('#english').val();
        var program = $('#program').val();
        var inputStr = name+','+stuNo+','+nation+','+classNo+',math:'+math+',chinese:'+chinese+',english:'+english+',program:'+program;
        $.ajax({
            url: "/addStudent",
            data: { inputStr },
            method: 'POST',
            async: true,
            success: function (data) {
                $('#name').val('');
                $('#stuNo').val('');
                $('#nation').val('');
                $('#classNo').val('1');
                $('#math').val('');
                $('#chinese').val('');
                $('#english').val('')
                $('#program').val('');
                if(data.status === 1) $('#addStatus').text(data.msg);
                else $('#addStatus').text(data.msg);
            }
        });
    });
</script>

