<html>
<head>
    <link href="bootstrap/css/bootstrap.css">
</head>
<body>
<%- include('index.ejs')%>
<div>
    <p>请输入要查找的学生学号：<input type="text" name="stuNos" id="stuNos"></p>
    <input type="button" value="打印" id="queryButton">
    <div id="StudentInfo"></div>
</div>
<script src="jquery-3.2.0.min.js"></script>
<script type="text/javascript">

    function generateTable(data) {
        let tableStr = '';
        data.forEach(cl => {
            tableStr += '<table>';
            tableStr += '<tr><th>name</th><th>stuNo</th><th>nation</th><th>classNo</th><th>math</th><th>chinese</th><th>english</th>';
            tableStr += '<th>program</th><th>sum</th><th>average</th></tr>';
            cl.stuScore.forEach(stu => {
                tableStr += '<td><td>'+ stu.student.name +'</td>';
                tableStr += '<td>'+ stu.student.stuNo +'</td>';
                tableStr += '<td>'+ stu.student.nation +'</td>';
                tableStr += '<td>'+ stu.student.classNo +'</td>';
                tableStr += '<td>'+ stu.student.math +'</td>';
                tableStr += '<td>'+ stu.student.chinese +'</td>';
                tableStr += '<td>'+ stu.student.english +'</td>';
                tableStr += '<td>'+ stu.student.program +'</td>';
                tableStr += '<td>'+ stu.sum +'</td>';
                tableStr += '<td>'+ stu.average +'</td></tr>';
            })
            tableStr += '</table>';
        })
        return tableStr;
    }
    $.ajax({
        url: "/printAllStudentScore",
        method: 'GET',
        success: function (data) {
            let tableStr = generateTable(data);
            $('#StudentInfo').append(tableStr);
        }
    })

    $('#queryButton').click(function () {
        let stuNos = $('#stuNos').val();
        $.ajax({
            url: "/printStudentScore",
            method: 'POST',
            data: { stuNos },
            success: function (data) {
                let tableStr = generateTable(data.newcls);
                $('#StudentInfo').empty().append(tableStr);
            }
        })
    })
</script>
</body>
</html>