<html>
<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>
<%- include('index.ejs')%>
<div>
    <p>请输入要查找的学生学号：<input type="text" name="stuNos" id="stuNos"></p>
    <input type="button" value="打印" id="queryButton">
    <div id="StudentInfo"></div>
</div>
<script src="jquery-3.2.0.min.js"></script>
<script type="text/javascript">

    function generateTable(data) {
        let tableStr = '<h3>成绩单</h3>';
        data.forEach(cl => {
            tableStr += `<table class="table table-striped">
                        <tr>
                            <th>名字</th>
                            <th>学号</th>
                            <th>民族</th>
                            <th>班级</th>
                            <th>数学</th>
                            <th>语文</th>
                            <th>英语</th>
                            <th>编程</th>
                            <th>总分</th>
                            <th>平均分</th>
                        </tr>`;
            cl.stuScore.forEach(stu => {
                tableStr +=  `<tr>
                                  <td>${stu.student.name}</td>
                                  <td>${stu.student.stuNo}</td>
                                  <td>${stu.student.nation}</td>
                                  <td>${stu.student.classNo}</td>
                                  <td>${stu.student.math}</td>
                                  <td>${stu.student.chinese}</td>
                                  <td>${stu.student.english}</td>
                                  <td>${stu.student.program}</td>
                                  <td>${stu.sum}</td>
                                  <td>${stu.average}</td>
                               </tr> `
            })
            tableStr += `<tr>
                            <td colspan="2">全班总分平均数</td>
                            <td colspan="3">${cl.average}</td>
                            <td colspan="2">全班总分中位数</td>
                            <td colspan="3">${cl.middle}</td>
                         </tr>
                        </table>`;
        })
        return tableStr;
    }
    $.ajax({
        url: "/printAllStudentScore",
        method: 'GET',
        success: function (data) {
            let tableStr = generateTable(data);
            $('#StudentInfo').append(tableStr);
        }
    })

    $('#queryButton').click(function () {
        let stuNos = $('#stuNos').val();
        $.ajax({
            url: "/printStudentScore",
            method: 'POST',
            data: { stuNos },
            success: function (data) {
                let tableStr = generateTable(data.newcls);
                $('#StudentInfo').empty().append(tableStr);
            }
        })
    })
</script>
</body>
</html>